@import 'main/body';
@import 'main/common';

@import 'main/content/content';
@import 'main/content/text';
@import 'main/content/theme';

@import 'main/elements/anchor';
@import 'main/elements/button';
@import 'main/elements/headings';
@import 'main/elements/inputs';
@import 'main/elements/section';

.flex-vertical {
    flex-direction: row;
}

.\@wjb-form-section-component {
    --wjb-background-colour-dark: transparent;
    padding: 0 !important;
}

.\@wjb-form-section-component + .form-section-component {
    margin-top: 1rem;
}