html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Gowun Batang', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.6em;
    color: #222;
}

#app {
    padding: 0 1rem;
}
